.container{
    
  background: white;
  
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
}
.card
{background-color: rgb(24, 70, 70);
  color:white;
  border:1 px solid #ccc;
  padding:10px;
  margin:10px;
  width:220px;
  font-family: 'Times New Roman', Times, serif;
  
}

button {
  padding: 8px 16px;
  font-size: 14px;
  width: 10%;
  height:10%;
  border-radius: 6px;
  border: none;
  background-color:blue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:aqua;
}